{%- macro union_all_delineate(loop) -%}
{%- if not loop.last -%}
UNION ALL
{%- endif -%}
{%- endmacro -%}

CREATE TABLE irae__highlights_immunosuppressive_medications AS
{%- if table_names %}
{%- for table_name in table_names %}
-- One pass to get medication status information --
SELECT
    src.note_ref,
    src.subject_ref,
    src.generated_on,
    src.task_version,
    src.system_fingerprint,
    '{{ table_name }}' AS origin,
    'Immunosuppressive Medication' AS label,
    CONCAT(CAST(span[1] AS VARCHAR), ':', CAST(span[2] AS VARCHAR)) AS span,
    'Medication Status' AS sublabel_name,
    medication.status AS sublabel_value
FROM 
    {{ table_name }} AS src,
    UNNEST(src.result.immunosuppressive_medication_mentions) AS t1(medication),
    UNNEST(
        COALESCE(
            medication.spans, 
            CAST(ARRAY[ARRAY[]] AS ARRAY(ARRAY(INTEGER)))
        )
    ) AS t2(span)
WHERE 
    src.task_version = CAST('6' AS INT)
    AND medication.status <> 'None of the above'
-- Second pass to get medication ingredient information --
UNION ALL
SELECT
    src.note_ref,
    src.subject_ref,
    src.generated_on,
    src.task_version,
    src.system_fingerprint,
    '{{ table_name }}' AS origin,
    'Immunosuppressive Medication' AS label,
    CONCAT(CAST(span[1] AS VARCHAR), ':', CAST(span[2] AS VARCHAR)) AS span,
    'Medication' AS sublabel_name,
    medication.ingredient AS sublabel_value
FROM 
    {{ table_name }} AS src,
    UNNEST(src.result.immunosuppressive_medication_mentions) AS t1(medication),
    UNNEST(
        COALESCE(
            medication.spans, 
            CAST(ARRAY[ARRAY[]] AS ARRAY(ARRAY(INTEGER)))
        )
    ) AS t2(span)
WHERE 
    src.task_version = CAST('6' AS INT)
    AND medication.ingredient <> 'None of the above'
{{ union_all_delineate(loop) }}
{%- endfor %}
{%- else %}
SELECT
    'x' AS note_ref,
    'x' AS subject_ref,
    'x' AS generated_on,
    'x' AS task_version,
    'x' AS system_fingerprint,
    'x' AS origin,
    'x' AS label,
    'x' AS span,
    'x' AS sublabel_name,
    'x' AS sublabel_value
WHERE 1=0
{%- endif %}
