{%- import 'syntax.sql.jinja' as syntax -%}

CREATE TABLE irae__llm_immunosuppressive_medications_highlights AS
{%- for table_name in table_names %}
-- One pass to get medication status information --
SELECT
    src.note_ref,
    src.subject_ref,
    src.generated_on,
    src.task_version,
    src.system_fingerprint,
    '{{ table_name }}' AS origin,
    'Immunosuppressive Medication' AS label,
    CONCAT(CAST(span[1] AS VARCHAR), ':', CAST(span[2] AS VARCHAR)) AS span,
    'Medication Status' AS sublabel_name,
    medication.status AS sublabel_value
FROM 
    {{ table_name }} AS src,
    UNNEST(src.result.immunosuppressive_medication_mentions) AS t1(medication),
    UNNEST(
        COALESCE(
            medication.spans, 
            CAST(ARRAY[ARRAY[]] AS ARRAY(ARRAY(INTEGER)))
        )
    ) AS t2(span)
WHERE
    src.task_version = 7
    AND medication.status <> 'NONE_OF_THE_ABOVE'
-- Second pass to get medication ingredient information --
UNION ALL
SELECT
    src.note_ref,
    src.subject_ref,
    src.generated_on,
    src.task_version,
    src.system_fingerprint,
    '{{ table_name }}' AS origin,
    'Immunosuppressive Medication' AS label,
    CONCAT(CAST(span[1] AS VARCHAR), ':', CAST(span[2] AS VARCHAR)) AS span,
    'Medication' AS sublabel_name,
    medication.ingredient AS sublabel_value
FROM
    {{ table_name }} AS src,
    UNNEST(src.result.immunosuppressive_medication_mentions) AS t1(medication),
    UNNEST(
        COALESCE(
            medication.spans,
            CAST(ARRAY[ARRAY[]] AS ARRAY(ARRAY(INTEGER)))
        )
    ) AS t2(span)
WHERE
    src.task_version = 7
    AND medication.ingredient <> 'NONE_OF_THE_ABOVE'
{{ syntax.union_all_delineate(loop) }}
{%- endfor %}