name: CI
on: [pull]
jobs:

  unittest:
    name: unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Python 
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - name: Get library from main
        run: pip install git+https://github.com/smart-on-fhir/cumulus-library.git

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ".[test]"
      - name: Test with pytest
        run: |
          python -m pytest --cov-report xml --cov=cumulus_library_kidney_transplant tests
      - name: Log missing coverage
        run: |
          coverage report -m --skip-covered
      - name: Generate coverage report
        if: github.ref != 'refs/heads/main'
        uses: orgoro/coverage@v3.2
        with:
            coverageFile: coverage.xml
            token: ${{ secrets.GITHUB_TOKEN }}
            thresholdAll: 0
            thresholdNew: 0
            thresholdModified: 0
